{% extends 'treegraph/base_treegraph.html' %}

{% block title %}
index
{% endblock %}

{% block dropdown %}

    <li class="nav-item active dropdown" >
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Выбор вариантов настроек
        </a>
        <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
            {% for x in time_settings %}
                <a class="dropdown-item" href="#" role="button">{{x}}</a>
            {% endfor %}
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

                <div class="col-9">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <table class="table table-hover">

                            <thead class="table-success">
                                <tr>
                                    <th scope="col">Имя вершины</th>
                                    <th scope="col">LVL</th>
                                    <th scope="col">Для нормативного освоения:</th>
                                    <th scope="col">Время для изучения</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table %}
                                    <tr>
                                        <td><a href="{% url 'detail' row.node.id %}">{{ row.node.name }}</a></td>
                                        <td>{{ row.node.lvl }}</td>
                                        <td>
                                            {% for actual in row.actual_time %}
                                                <div class="settings-var-{{forloop.counter}}">
                                                    <p>{{actual.act_t_h}} часов {{actual.act_t_m}} мин</p>
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for setting in row.settings %}
                                                <div class="settings-var-{{forloop.counter}}">
                                                    <a tabindex="0" class="btn btn-secondary" role="button" data-toggle="popover"
                                                       data-trigger="focus" title="Коэффициенты № {{forloop.counter}}" id="sett-{{forloop.counter}}" data-placement="right"
                                                            data-content='
                                                                {% for set_row in setting %}
                                                                    {{ set_row.string }} {{ set_row.time_h }} часов {{ set_row.time_m }} минут
                                                                {% endfor %}
                                                            '>

                                                        Детальный обзор
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            <div class="col-3">
                <div class="shadow mb-3 bg-white rounded">
                    <div class="card" style="">
                        <div class="card-header">Время на изучение по уровням</div>
                        <div class="card-body">
                            {% for time in time_table %}
                            <div class="settings-var-{{forloop.counter}}">
                                <p class="card-text">Уровень 1: {{time.sum1}} ч {{time.sum1_m}} м</p>
                                <p class="card-text">Уровень 2: {{time.sum2}} ч {{time.sum2_m}} м</p>
                                <p class="card-text">Уровень 3: {{time.sum3}} ч {{time.sum3_m}} м</p>
                                <p class="card-text">Уровень 4: {{time.sum4}} ч {{time.sum4_m}} м</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="shadow mb-3 bg-white rounded">
                    <div class="card" style="">
                        <div class="card-header">Время на изучение по нормативам</div>
                        <div class="card-body">
                            {% for time in level_time_table %}
                            <div class="settings-var-{{forloop.counter}}">
                                <p class="card-text">{{time.level_sum_h}} часов {{time.level_sum_m}} минут</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="shadow mb-3 bg-white rounded">
                    <div class="card" style="">
                        <div class="card-header">Временные коэффициенты</div>
                        <div class="card-body">
                            {% for time in time_table %}
                                <div class="settings-var-{{forloop.counter}}">
                                    <h5 class="card-title">Настройка № {{forloop.counter}}</h5>
                                    <p>t_alpha - {{time.coefficients.t_alpha}}</p>
                                    <p>k_knowledge - {{time.coefficients.k_knowledge}}</p>
                                    <p>k_practise - {{time.coefficients.k_practise}}</p>
                                    <p>k_skill - {{time.coefficients.k_skill}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        var ids = document.querySelectorAll('.dropdown-item')                                                                   <!--Выбираем все елементы выпадашки-->
        ids.forEach(function(item, index){                                                                                      <!--Выбираем все index из каждого элемента выпадашки-->
            document.querySelectorAll('.settings-var-' + (index+1)).forEach(element => element.style.display = 'none');         <!--Делаем все выводимые данные по времени невидимыми для каждого index-->
        })
        document.querySelectorAll('.settings-var-' + 1).forEach(element => element.style.display = 'block');                    <!--Делаем видимыми настройки с 'index = 1'-->
        ids.forEach(function(item, index){                                                                                      <!--Для каждого элемента выпадашки-->
            item.addEventListener('click', event => {                                                                           <!--Добавляем следующее действие на клик-->
                ids.forEach(function(item, index){                                                                              <!--Выбираем все index из каждого элемента выпадашки-->
                    document.querySelectorAll('.settings-var-' + (index+1)).forEach(element => element.style.display = 'none'); <!--Делаем все выводимые данные по времени невидимыми для каждого index-->
                })
                document.querySelectorAll('.settings-var-' + (index+1)).forEach(element => element.style.display = 'block');    <!--Показываем все настройки с id = индексу элемента выпадашки-->
            })
        });

        console.log('go v lol');        <!--Идём катать, чувствуя себя победителями!-->

    </script>
{% endblock %}